<div class="container mt-4">
    <h2>Listado de Proyectos</h2>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Listado de Proyectos</h2>
        <button (click)="irANuevoProyecto()">➕ Nuevo Proyecto</button>
    </div>


  <input type="text" [(ngModel)]="search" placeholder="Buscar por nombre..." />
  <button (click)="buscar()">Buscar</button>

  <table class="table mt-3" *ngIf="proyectos.length > 0">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Ubicación</th>
        <th>Estado</th>
        <th>Inicio</th>
        <th>Fin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of proyectos">
        <td>{{ p.nombre }}</td>
        <td>{{ p.descripcion }}</td>
        <td>{{ p.ubicacion }}</td>
        <td>{{ p.estado }}</td>
        <td>{{ p.fecha_inicio | date }}</td>
        <td>{{ p.fecha_finalizacion | date }}</td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="totalPages > 1">
    <button
      *ngFor="let i of [].constructor(totalPages); let idx = index"
      (click)="cambiarPagina(idx + 1)">
      {{ idx + 1 }}
    </button>
  </div>

  <p *ngIf="proyectos.length === 0">No se encontraron proyectos.</p>
</div>
